<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>     
    <script src="../javascripts/script.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="../assets/logo.png" />
    <link rel="stylesheet" href="../stylesheets/estilos.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
    <title>Me voy de viaje</title>
</head>
<body>
   <%- include("../partials/encabezadoPrivado.ejs")%>
   <br>
   <div class="row contenedor">
    <h3 class="center white-text text-darken-2 titulo">Mis Publicaciones</h3>
        <% if(mensaje && mensaje.length > 0){ %>
            <h5 class="mensaje center"><%=mensaje%></h5>
        <% } %>
        <table class=" white col s12 ">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Resumen</th>
                    <th>Votos</th>
                </tr>
            </thead>
            <tbody>
                <% publicaciones.forEach(dato => { %>
                    <tr>
                        <td><%= dato.titulo %></td>
                        <td><%= dato.resumen %></td>
                        <td><%= dato.votos %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <a class="waves-effect brown darken-2 btn-large" href="/admin/agregar"><i class="material-icons left">add</i>Agregar Publicacion</a>
        
    </div>    
    <%- include("../partials/footer.ejs")%>
</body>
</html>